:root {
    --cor-do-texto: gray;
    --cor-da-borda: #fff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    background-color: var(--cor-do-texto);
    padding: 10px;
}

nav a {
    color: var(--cor-da-borda);
    display: block;
    padding: 20px;
}

h1 {
    color: var(--cor-do-texto);
}

main img {
    margin-left: 20px;
    margin-bottom: 20px;
    width: 150px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
    float: right;
}

p {
    padding: 0;
}

main {
    max-width: 800px;
}

aside {
    width: 20rem;

    color: var(--cor-da-borda);
    text-align: center;
    position: relative;
}

aside img {
    width: 200px;
    height: auto;
}

aside h2 {
    position: absolute;
    top: 40px;
    left: 130px;

}

footer {
    margin-top: 15px;
    border-top: 2px solid #000;
    text-align: center;
}

/* Seletores de Classe */
.caixa {
    border: 1px solid var(--cor-da-borda);
    margin: 1rem;
    padding: 2px;
    background-color: var(--cor-do-texto);
}

.indentacao {
    padding-left: 2rem;
}